<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>メール認証</title>
   </head>
   <body>
       <header>
           <nav>
               <a th:href="@{/}">投稿アプリ</a>

               <ul>
                   <li>
                       <a th:href="@{/login}">ログイン</a>
                   </li>
                   <li>
                       <a th:href="@{/signup}">会員登録</a>
                   </li>
               </ul>
           </nav>
       </header>

       <main>
           <div th:if="${successMessage}">
               <p th:text="${successMessage}"></p>
           </div>

           <div th:if="${errorMessage}">
               <p th:text="${errorMessage}"></p>
           </div>
       </main>

       <footer>
           <p>&copy; 投稿アプリ All rights reserved.</p>
       </footer>
   </body>
</html>